// We create an artificial data stream, but this can
// contain multiple types of objects, in this case
// it's just a string
var requestStream = Rx.Observable.of('Hello Reactive World');
requestStream.subscribe(function(message) {
  // Then we consume the message once it is ready
  // which in this case is pretty much instantly
  console.log(message);
}
